In [1]:
from pyspark.sql import SparkSession
import delta

In [2]:
__builder = SparkSession\
    .builder\
    .appName("Notebook for test") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")\
    .config("spark.sql.warehouse.dir","c:/tmp/spark-warehouse")\
    .config("javax.jdo.option.ConnectionURL","jdbc:derby:;databaseName=C:/tmp/metastore_db;create=true")\
    .enableHiveSupport()

spark = delta.configure_spark_with_delta_pip(__builder)\
    .getOrCreate()

In [3]:
seq = spark.table("sequences_cfg")

In [4]:
df = seq.pandas_api()

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
c:\users\carlos\proyectos\foodecommercescraper\venv\lib\site-packages\pyspark\sql\pandas\conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

  table_name  id                    ts_load
0   date_dim   0 2023-02-20 06:30:12.272533

In [12]:
df["id"].iloc[0]

0

In [4]:
spark.sql("select * from sequences_cfg").show()

+----------+---+--------------------+
|table_name| id|             ts_load|
+----------+---+--------------------+
|  date_dim|  0|2023-02-19 08:04:...|
|  date_dim|  0|2023-02-19 08:10:...|
+----------+---+--------------------+

In [3]:
spark.sql("DROP TABLE date_dim").show()
spark.sql("DROP TABLE sequences_cfg").show()

++
||
++
++

++
||
++
++

In [7]:
spark.sql("SHOW SCHEMAS").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [9]:
spark.sql("SHOW TABLES IN default").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default| date_dim|      false|
+---------+---------+-----------+

In [6]:
spark.sql("select * from date_dim").show()

+-------+----+-------+
|id_date|date|ts_load|
+-------+----+-------+
+-------+----+-------+

In [5]:
spark.sql("delete from date_dim").show()

+-----------------+
|num_affected_rows|
+-----------------+
|                6|
+-----------------+