In [1]:
import pandas as pd

In [8]:
data = ['["a","b","c"]','["d","f","f"]']
s = pd.Series(data)
s

0    ["a","b","c"]
1    ["d","f","f"]
dtype: object

In [17]:
df = s.str.extractall(r'(".")')[0]
df

   match
0  0        "a"
   1        "b"
   2        "c"
1  0        "d"
   1        "f"
   2        "f"
Name: 0, dtype: object

In [9]:
g = df.groupby(level=0)
g

In [6]:
lst = [(0,1),(0,2),(0,3)]

index = pd.MultiIndex.from_tuples(lst)

s1 = pd.Series({"a":["a","b","c"],"b":["d","e","f"]}, index=index)
s1

     a  b
0 1  a  d
  2  b  e
  3  c  f

In [5]:
s.groupby(level=0).agg(lambda x: x.str.cat())

     a    b
0  abc  def