In [3]:
import os
import sys
import delta
from pyspark.sql.window import Window
import pyspark.sql.functions as psf
import pandas as pd
import pyspark.sql
from pyspark.sql.types import StructType, StructField, DateType, \
    StringType, DoubleType, TimestampType

sys.path.insert(0, os.path.abspath('./source/Producto_DIA_DP'))

from SparkDBUtils import SparkDB
sparkdb = SparkDB()
spark = sparkdb.spark

In [4]:
spark.sql("show schemas").show(truncate=False)

+----------------+
|namespace       |
+----------------+
|analisis_precios|
|default         |
|producto_dia    |
+----------------+

In [5]:
spark.sql("show tables in producto_dia").show(truncate=False)

+------------+---------------+-----------+
|namespace   |tableName      |isTemporary|
+------------+---------------+-----------+
|producto_dia|producto_dim   |false      |
|producto_dia|sequences_cfg  |false      |
|producto_dia|staging_product|false      |
+------------+---------------+-----------+

In [6]:
df = spark.table("producto_dia.producto_dim").toPandas()

In [7]:
df.head()

,product_id,product,brand,categories,units,price,unit_price,discount,date,ts_load
0,105460,Colas de langostino al ajillo,Aguinamar,"[Pescados. mariscos y ahumados, Ahumados. sala...",€/KILO),2.99,28.48,NaN,2023-09-04,NaT
1,104447,Mini tostadas rectangulares,Ortiz,"[Panes. harinas y masas, Picos y panes tostados]",€/KILO),1.98,19.80,NaN,2023-09-04,NaT
2,1011,Galletas de cacao rellenas de crema ba,Oreo,"[Galletas. bollos y cereales, Galletas]",€/KILO),2.88,11.71,NaN,2023-09-04,NaT
3,102150,Maquinilla desechable,Bonté,"[Perfumería. higiene. salud, Afeitado]",€/UNIDAD),2.09,0.21,NaN,2023-09-04,NaT
4,10687,Tomate troceado,Vegecampo,"[Aceites. salsas y especias, Tomate]",€/KILO),0.85,2.18,NaN,2023-09-04,NaT

In [44]:
df.info()
df[df.id_producto == 18013]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253146 entries, 0 to 253145
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id_producto  253146 non-null  int32
 1   id_date      253146 non-null  int32
 2   price        252719 non-null  float64
 3   unit_price   252719 non-null  float64
 4   discount     0 non-null       float64
 5   year         253146 non-null  int32
 6   ts_load      253146 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int32(3)
memory usage: 10.6 MB

Empty DataFrame
Columns: [id_producto, id_date, price, unit_price, discount, year, ts_load]
Index: []

# DELETE

In [2]:
dt = delta.DeltaTable.forName(spark, "producto_dia.staging_product")

In [4]:
dt.delete(psf.column("id_producto") != "18013")

In [5]:
dt.toDF().show()

+-----------+--------------------+-----+
|id_producto|         url_product|index|
+-----------+--------------------+-----+
|      18013|https://www.dia.e...| 1747|
+-----------+--------------------+-----+

{:E)

  /==o  /---/
{:E)===|
  \==o  \---\