In [1]:
import os
import sys
import delta
from pyspark.sql.window import Window
import pyspark.sql.functions as psf
import pandas as pd
import pyspark.sql
from pyspark.sql.types import StructType, StructField, DateType, \
    StringType, DoubleType, TimestampType

sys.path.insert(0, os.path.abspath('./source/Producto_DIA_DP'))

from SparkDBUtils import SparkDB
sparkdb = SparkDB()
spark = sparkdb.spark

In [4]:
spark.sql("show schemas").show(truncate=False)

+----------------+
|namespace       |
+----------------+
|analisis_precios|
|default         |
|producto_dia    |
+----------------+

In [5]:
spark.sql("show tables in producto_dia").show(truncate=False)

+------------+---------------+-----------+
|namespace   |tableName      |isTemporary|
+------------+---------------+-----------+
|producto_dia|producto_dim   |false      |
|producto_dia|sequences_cfg  |false      |
|producto_dia|staging_product|false      |
+------------+---------------+-----------+

In [2]:
df = spark.table("producto_dia.producto_dim").toPandas()

c:\users\carlos\proyectos\foodecommercescraper\venv\lib\site-packages\pyspark\sql\pandas\conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [3]:
df[df.product_id=="1011"]

,product_id,product,brand,categories,units,price,unit_price,discount,date,ts_load
1,1011,Galletas de cacao rellenas de crema ba,Oreo,"[Galletas. bollos y cereales, Galletas]",€/KILO),2.88,11.71,NaN,2023-09-08,2023-09-08 07:11:26.148237
3,1011,Galletas de cacao rellenas de crema ba,Oreo,"[Galletas. bollos y cereales, Galletas]",€/KILO),2.88,11.71,NaN,2023-09-04,NaT

In [ ]:
df.info()
df[df.id_producto == 18013]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  6 non-null      object
 1   product     5 non-null      object
 2   brand       5 non-null      object
 3   categories  6 non-null      object
 4   units       5 non-null      object
 5   price       5 non-null      float64
 6   unit_price  5 non-null      float64
 7   discount    0 non-null      float64
 8   date        6 non-null      object
 9   ts_load     0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 608.0+ bytes

AttributeError: 'DataFrame' object has no attribute 'id_producto'

# DELETE

In [2]:
dt = delta.DeltaTable.forName(spark, "producto_dia.staging_product")

In [4]:
dt.delete(psf.column("id_producto") != "18013")

In [5]:
dt.toDF().show()

+-----------+--------------------+-----+
|id_producto|         url_product|index|
+-----------+--------------------+-----+
|      18013|https://www.dia.e...| 1747|
+-----------+--------------------+-----+

{:E)

  /==o  /---/
{:E)===|
  \==o  \---\